header {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 20px;
  opacity: 1;
  width: 100%;
  background-color: black;
  box-sizing: border-box;
}

.header--title {
  color: white;
  font-size: 2.5rem;
  margin-right: auto;
  margin-left: auto;
}

nav {
  position: absolute;
  right: 20px;
  text-decoration: underline;
  color: white;
}

nav li {
  display: inline;
  padding: 20px;
}
